/*
 * Aplica estilo a la barra de login
 */
 @include extjs-toolbar-ui(
	$ui: 'default',
	$background-color: #fff
);

 @include extjs-toolbar-ui(
	$ui: 'main',
	$background-color: $base-color
);

.x-toolbar-newversion {
	label {
		color: #1B1112;
	}
}
