//$tab-base-color: #FFF;
$tab-base-color-active: dynamic(rgba(59, 81, 245, 0.632));
$tab-color: dynamic($base-color);
$tab-color-active: dynamic(#000);
$tab-border-width: dynamic(0px);
$tab-border-width-active: dynamic(0px);
$tab-border-width-focus: dynamic(0px);
$tab-border-width-focus-over: dynamic(0px);
$tab-border-radius: dynamic(4px 4px 0 0);
$tab-icon-width: dynamic(24px);
$tab-icon-height: dynamic(24px);
$tab-inner-border-width: dynamic(0px);
$tab-inner-border-width-active: dynamic(0px);
$tab-inner-border-width-focus: dynamic(0px);
$tab-inner-border-width-focus-active: dynamic(0px);
$tab-inner-border-width-focus-over: dynamic(0px);
$tab-padding: dynamic(13px);
$tab-font-size: dynamic(18px);
