$button-toolbar-inner-border-color: dynamic(none);
$button-toolbar-inner-border-color-focus: dynamic(none);
$button-toolbar-inner-border-color-focus-over: dynamic(none);
$button-toolbar-inner-border-color-focus-pressed: dynamic(none);
